body {
  margin-bottom: 60px;
  font-family: "Open Sans", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-left: 0%;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 61px;
  background-color: #4e5d6c;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

label {
  display: inline-block;
  width: 75px;
  font-size: 16px;
}

input {
  width: 450px;
  font-size: 16px;
}

button {
  font-size: 16px;
  color: #546575;
  padding: 5px;
}

#header{
  margin-left: 2%;
}

#header img{
  width: 5%;
}

#contentmargin{
  margin-left: 2%;
  margin-right: 2%;
}

#content{
  width: 100%;
}

#leftpanel{
  width: 49.5%;
  height: 25%;
  float: left;
}

#minebtn{
  float: right;
}

#rightpanel{
  width: 49.5%;
  float: left;
    height: 25%;
  margin-left: 1%;
}

span{
    font-weight: bold;
}

#rpright{
    float:right;
}

.panel-body img {
    width: 4%;
}

.panel-heading img {
    width: 8%;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: white;
  font-size: 24px;
}

.black {
  color: white;
}

#balance {
  color: white;
}

.hint {
  color: white;
}